<h2>User List</h2>
<div *ngIf="listUsers">Total Users : {{listUsers.length}}</div>
<table>
    <tr>
        <th>Name</th>
        <th>Gender</th>
        <th>Age</th>
        <th>Date of Joining</th>
        <th>Action</th>
    </tr>
    <span *ngIf="listUsers">
        <span *ngIf="listUsers.length==0">Data Not Found</span>
    </span>
    <tr *ngFor="let user of listUsers">
        <td>{{user.name}}</td>
        <td>{{user.gender}}</td>
        <td>{{user.age}}</td>
        <td>{{user.date}}</td>
        <td>
            <a [routerLink]="['view',user._id]">View</a> |
            <a [routerLink]="['edit',user._id]">Edit</a> |
            <a [routerLink]="['delete',user._id]">Delete</a>
        </td>
    </tr>
</table>
